<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpLogMapper">

    <select id="findByPage" resultType="com.example.pojo.OperateLog">
        SELECT l.*,
               e.name AS operate_emp_name
        FROM operate_log l
                 LEFT JOIN emp e ON l.operate_emp_id = e.id
    </select>
</mapper>